@model IEnumerable<FinancialPortal.Models.Budget>

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<br />
<br />
<br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="col-10 offset-1 mb-30">
    <div class="box">
        <div class="box-head">
            Budgets
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-vertical-middle table-selectable">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Household.HouseholdName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Owner.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BudgetName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentAmount)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Household.HouseholdName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BudgetName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentAmount)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>