@model FinancialPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Swaney | $$aver</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Icon Font CSS -->
    <link href="~/Content/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/cryptocurrency-icons.css" rel="stylesheet" />

    <!-- Plugins CSS -->
    <link href="~/Content/plugins.css" rel="stylesheet" />

    <!-- Helper CSS -->
    <link href="~/Content/helper.css" rel="stylesheet" />

    <!-- Main Style CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        .land-bg {
            background-image: url(../Images/logbg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 100vh;
            height: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
    </style>
</head>

<body class="skin-dark">

    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <div class="login-register-wrap">
                <div class="row">

                    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                        <div class="login-register-form-wrap">

                            <div class="content">
                                <div class="row">
                                    <div class="col text-center">
                                        <img src="~/Images/fplogo1.png" style="height:100px; width:100px" />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <h1>Forgot Password?</h1>

                            </div>
                            <div class="login-register-form">


                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4 class="text-center">Enter your email.</h4>
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-10 offset-3">
                                            <input type="submit" class="btn btn-outline-primary" value="Email Link" />
                                        </div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <p class="text-warning mb-0">Back to Login -> <a href="@Url.Action("Login", "Account")"> Sign In here</a></p>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>

                    <div class="land-bg order-1 order-lg-2 col-lg-7 col-12">
                        <div class="content">
                          
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- Content Body End -->

    </div>
    <!-- JS
    ============================================ -->
    <!-- Global Vendor, plugins & Activation JS -->
    <script src="~/Scripts/modernizr-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="~/Scripts/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="~/Scripts/main.js"></script>
</body>
</html>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
