@model IEnumerable<FinancialPortal.Models.Transaction>
@using FinancialPortal.Helpers
@{
    ViewBag.Title = "Index";
    var transactionHelper = new TransactionHelper();
}



<br />
<br />
<br />
<br />
<br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-12 mb-30">
    <div class="box">
        <div class="box-head">
            <h4 class="title">Transactions Overview</h4>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-vertical-middle table-selectable">
                    <thead>
                    <tr>

                        <th>
                            Name of Purchase
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Owner.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Memo)
                        </th>
                        
                        <th></th>
                    </tr>
                        </thead>

                    @foreach (var item in transactionHelper.ListHouseholdTransactions().OrderByDescending(t => t.Created))
                    {<tbody>
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.BudgetItem.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Memo)
                            </td>
                            
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $('#table').DataTable();
    </script>
    }