@model FinancialPortal.Models.BankAccount
@using System;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Create";
}

<br />
<br />
<br />
<br />
<br />





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HouseholdId)
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.OwnerId)

    <div class="col-6 offset-3 mb-30">
        <div class="box">

            <div class="box-body">
                <div class="table-responsive">
                    @*<table class="table table-vertical-middle table-selectable">*@

                    <h4>Add New Bank Account</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountName, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentBalance, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.CurrentBalance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CurrentBalance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.WarningBalance, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.WarningBalance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WarningBalance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />


                    <div class="form-group">
                        <div class="col-md-2 offset-4" style="padding-left:3em">
                            <input type="submit" value="Create" class="button button-primary button-outline" />
                        </div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
