@model FinancialPortal.Models.BankAccount

@{
    ViewBag.Title = "Details";
}



<br />
<br />
<br />
<br />
<br />



<div class="col-6 offset-3 mb-30">
    <div class="box">
        <div class="box-body">
            <h4>@Model.AccountName</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Household.HouseholdName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Household.HouseholdName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Owner.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Owner.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccountName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartingBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartingBalance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CurrentBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CurrentBalance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WarningBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WarningBalance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>

            </dl>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


