@using FinancialPortal.Helpers
@using Microsoft.AspNet.Identity
@using FinancialPortal.Extensions
@using FinancialPortal.ViewModels
@using FinancialPortal.Models
@{
    var userHelper = new UserHelper();
    var roleHelper = new RolesHelper();
    var account = new FinancialPortal.Models.BankAccount();
    var notificationHelper = new NotificationHelper();
    var notifications = notificationHelper.ListUsersNotifications(User.Identity.GetUserId());
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Swaney | $$aver</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <!-- Icon Font CSS -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/cryptocurrency-icons.css" rel="stylesheet" />
    <!-- Plugins CSS -->
    <link href="~/Content/plugins.css" rel="stylesheet" />

    <!-- Helper CSS -->
    <link href="~/Content/helper.css" rel="stylesheet" />

    <!-- Main Style CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />

</head>

<body class="skin-dark">

    <div class="main-wrapper">


        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Images/fplogo2.png" alt="">
                            <img src="~/Images/fplogo2.png" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->
                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>

                                    <!--Header Search-->
                                    <div class="col-auto">

                                        <div class="header-search">

                                            <button class="header-search-open d-block d-xl-none"><i class="zmdi zmdi-search"></i></button>

                                            <div class="header-search-form">
                                                <form action="#">
                                                    <input type="text" placeholder="Search Here">
                                                    <button><i class="zmdi zmdi-search"></i></button>
                                                </form>
                                                <button class="header-search-close d-block d-xl-none"><i class="zmdi zmdi-close"></i></button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div><!-- Side Header Toggle & Search End -->
                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">

                                    <!--Notification-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <i class="zmdi zmdi-notifications"></i>
                                            @if (notifications.Where(n => n.IsRead == false).ToList().Count > 0)
                                            {
                                                <span class="badge"></span>
                                            }
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-notifications">
                                            <div class="head">
                                                <h5>@notifications.Where(n => n.IsRead == false).ToList().Count Notifications</h5>
                                            </div>
                                            <div class="body custom-scroll">
                                                <ul>
                                                    @foreach (var note in notifications.Where(n => n.IsRead == false).ToList().Take(5))
                                                    {
                                                        <li>
                                                            <a href="#">
                                                                <i class="zmdi zmdi-notifications-none"></i>
                                                                <p>New Notification</p>

                                                            </a>
                                                            <button class="delete"><i class="zmdi zmdi-close-circle-o"></i></button>
                                                        </li>
                                                    }
                                                
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="@Url.Action("Index", "Notifications")" class="view-all">View all</a>
                                            </div>
                                        </div>

                                    </li>

                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                                <span class="avatar">
                                                    <img src="@User.Identity.GetAvatarPath()" alt="">
                                                    <span class="status"></span>
                                                </span>
                                                <span class="name">@User.Identity.GetFullName()</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="head">
                                                <h5 class="name"><a href="#"></a>@userHelper.GetFullName(User.Identity.GetUserId())</h5>
                                                <a class="mail" href="#">@User.Identity.GetUserName()</a>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    <li><a href="@Url.Action("UpdateProfile", "Manage")"><i class="zmdi zmdi-account"></i>Profile</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-email-open"></i>Inbox</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-wallpaper"></i>Activity</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-settings"></i>Setting</a></li>
                                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "preview-subject mb-1" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="zmdi zmdi-lock-open"></i>Sign out</a></li>
                                                    }
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-paypal"></i>Payment</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-google-pages"></i>Invoice</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->

                </div>
            </div>
        </div><!-- Header Section End -->
        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>

                        <li class="has-sub-menu">
                            <a href="#"><i class="ti-home"></i> <span>Household</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="@Url.Action("Index", "BankAccounts")"><span>Accounts</span></a></li>
                                <li><a href="@Url.Action("Members", "Households")"><i class="zmdi zmdi-accounts"></i> <span>Members</span></a></li>
                                <li><a href="@Url.Action("ConfigureHouse", "HouseHold")"><i class="zmdi zmdi-home"></i> <span>Create a Household</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu">
                            <a href="#"><i class="zmdi zmdi-balance"></i> <span>Bank Accounts</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="@Url.Action("Index", "BankAccounts")"><span>View Accounts</span></a></li>

                                <li><a data-toggle="modal" data-target="#addAccount"><i class="zmdi zmdi-plus-circle"></i> <span>Add Bank Account</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu">
                            <a href="#"><i class="zmdi zmdi-balance-wallet"></i> <span>Transactions</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="@Url.Action("Index", "Transactions")"><i class="zmdi zmdi-confirmation-number"></i> <span>All Transactions</span></a></li>
                                <li><a href="@Url.Action("Create", "Transactions")"><i class="zmdi zmdi-plus-circle"></i> <span>Create Transaction</span></a></li>
                                @*<li><a data-toggle="modal" data-target="#addTransaction"><i class="zmdi zmdi-plus-circle"></i> <span>Create Transaction</span></a></li>*@
                                @*<li><a href="@Url.Action("CreateDeposit", "Transactions")"><i class="zmdi zmdi-plus"></i> <span>Make a Deposit</span></a></li>
                <li><a href="@Url.Action("CreateWithdrawal", "Transactions")"><i class="zmdi zmdi-minus"></i> <span>Make a Withdrawal</span></a></li>*@
                            </ul>
                        </li>
                        <li class="has-sub-menu">
                            <a href="#"><i class="ti-stats-up"></i> <span>Budgets</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="@Url.Action("Index", "Budgets")"><i class="zmdi zmdi-trending-flat"></i> <span>All Budgets</span></a></li>
                                <li><a href="@Url.Action("Create", "Budgets")"><i class="zmdi zmdi-plus-circle"></i> <span>Create Budget</span></a></li>
                                <li><a href="@Url.Action("Index", "BudgetItems")"><i class="zmdi zmdi-shopping-cart"></i> <span>All Budget Items</span></a></li>
                                <li><a href="@Url.Action("Create", "BudgetItems")"><i class="zmdi zmdi-plus-circle"></i> <span>Create Budget Item</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu">
                            <a href="#"><i class="fa fa-envelope-open-o"></i> <span>Invite-Join Household</span></a>
                            <ul class="side-header-sub-menu">
                                <li>
                                    <button type="button" class="col-md-5 button button-primary button-outline" data-toggle="modal" data-target="#inviteUser">
                                        Invite
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="col-md-7 button button-primary button-outline" data-toggle="modal" data-target="#manualJoin">
                                        Manual Join
                                    </button>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub-menu">
                            <a href="#"><i class="fa fa-times-rectangle-o"></i> <span>Leave Household</span></a>
                            <ul class="side-header-sub-menu">
                                <li>
                                    <button type="button" class="col-md-5 button button-primary button-outline" data-toggle="modal" data-target="#leaveHouse">
                                        Leave
                                    </button>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->
        @RenderBody()
        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light">2019 &copy; <a href="https://themeforest.net/user/codecarnival">Codecarnival</a> and Modified by <a href="https://swaney-portfolio-cf-trn.netlify.app/" target="_blank">Brandon Swaney</a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>
    <section id="manualJoinModal">

        <!-- Modal -->
        <div id="manualJoin" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Manually Join a Household</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("ManualJoin", "Account", FormMethod.Post, null))
                        {
                            <div class="form-group">
                                Invitation Code
                                <div class="col-md-10">
                                    @Html.TextBox("Code", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Join" class="button button-primary button-outline" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-secondary button-outline">Save Changes</button>
                        <button type="button" class="button button-outline button-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="InviteModal">

        <!-- Modal -->
        <div id="inviteUser" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Invite A Member to Household</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("ModalCreate", "Invitations", FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="form-group">
                                    @Html.Label("RecipientEmail", "Recipient Email", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.Editor("RecipientEmail", "Recipient Email", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessage("RecipientEmail", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Send Invite" class="button button-primary button-outline" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-outline button-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="leaveModal">

        <!-- Modal -->
        <div id="leaveHouse" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Leave a Household</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "leaveForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <p>By clicking Leave House you will leave the household you are currently in.</p>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" href="javascript:document.getElementById('leaveForm').submit()" value="Leave House" class="button button-primary button-outline" />
                                </div>

                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-outline button-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="addBankModal">

        <!-- Modal -->
        <div id="addAccount" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add a Bank Account</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.Action("_BankAccountModal", "BankAccounts")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-outline button-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    @*<section id="addTransactionModal">
     Modal 
    <div id="addTransaction" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
     Modal content
    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create A Transaction</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.Action("_TransactionModal", "Transactions")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-outline button-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>*@
    <!-- JS
    ============================================ -->
    <!-- Global Vendor, plugins & Activation JS -->
    <script src="~/Scripts/modernizr-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <!--Plugins JS-->
    <script src="~/Scripts/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="~/Scripts/main.js"></script>

    <!-- Plugins & Activation JS For Only This Page -->
    <!--Moment-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/sweetalert.active.js"></script>

    <!--Daterange Picker-->
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/daterangepicker.active.js"></script>

    <!--Echarts-->
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/chartjs.active.js"></script>

    <!--VMap-->
    <script src="~/Scripts/jquery.vmap.min.js"></script>
    <script src="~/Scripts/jquery.vmap.world.js"></script>
    <script src="~/Scripts/jquery.vmap.sampledata.js"></script>
    <script src="~/Scripts/vmap.active.js"></script>


</body>
@RenderSection("Scripts", false)

</html>




